@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.projects-container{
    position:relative;
    width:100vw;
    height:100vh;
    border-radius: 15px;
    overflow: hidden;
    overflow-x: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;

    &__slider {
        position: absolute;
        top: 80px;
        right: 150px;
        bottom: 80px;
        left: 150px;
        background: #ccc;
        border-radius: 15px;
    }

    &__slides{
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        width:240px;
        height:320px;
        background-image: 'url(../../../assets/img1.png)';
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        transition: 0.5s;
        box-shadow:0 25px 50px rgba(0,0,0,0.5);

        &:nth-child(1),
        &:nth-child(2){
            position:absolute;
            top:0;
            left: 0;
            width:100%;
            height:100%;
            transform: translateY(0);
            box-shadow:0 25px 50px rgba(0,0,0,0.5);
        }
        &:nth-child(3){
            left:calc(50% + 240px);
            background-size: cover;
        }
        &:nth-child(4){
            left:calc(50% + 500px);
            background-size: cover;
        }
        &:nth-child(5){
            left:calc(50% + 760px);
            background-size: cover;
        }
        &:nth-child(6){
            left:calc(50% + 1020px);
            background-size: cover;
        }
    }

}
.projects-buttons{
    position:absolute;
    bottom:15px;
    display: flex;
    gap:20px;

    &__prev,
    &__next{
        position:relative;
        width:50px;
        height:50px;
        background:rgb(251, 0, 0);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &::before{
            content:'';
            position: absolute;
            width: 15px;
            height: 15px;
            border-top: 4px solid white;
            border-left: 4px solid white;
            transform: rotate(315deg) translate(2px,2px);

        }

    }
    &__next{
        &::before{
            transform: rotate(135deg) translate(2px,2px);
        }
    }
}