@use "./variables" as *;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html{
    // background: radial-gradient(#333, #000);

    color: $secondary;
   
}

body {
    font-family: "archivo","archivo-extra-condensed","archivo-condensed","archivo-semi-expanded","archivo-expanded", sans-serif;
    color: $secondary;
    padding: 0;
    overflow-y: scroll;
    margin: 0;

}

a {
    text-decoration: none;
}