@use "./variables" as *;

* {
    box-sizing: border-box;
}

body {
    font-family: "archivo","archivo-extra-condensed","archivo-condensed","archivo-semi-expanded","archivo-expanded", sans-serif;
    color: $global-text;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}