@use "./variables" as *;

* {
    box-sizing: border-box;
}

html{
    // background-color: #0f0f10;
    background: radial-gradient(#333, #000);
    // background: radial-gradient(#333,#1b1717);
    color: $secondary;
}

body {
    font-family: "archivo","archivo-extra-condensed","archivo-condensed","archivo-semi-expanded","archivo-expanded", sans-serif;
    color: $secondary;
    padding: 0;
    overflow-y: scroll;
    margin: 0;
}

a {
    text-decoration: none;
}