// colour variables

$secondary-yellow: #f39c12;
$secondary:#d65eac;
$red:#d65eac;
$primary: #74579e;
$white: #FFFFFF;
$whiteghost:#f5f5f5;
$mild-purple:#c6b0e4;

$pale-red:#A3C8FF;
$pale-orange:#ffa500;
$pale-red:#f16764;
$black:rgb(23, 23, 23);
    