@use '../styles/partials/fonts';
@use '../styles/partials/global';
@use '../styles/partials/mixins'; 
@use '../styles/partials/variables'; 


.element {
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 24px 20px; // Convert px-5 and py-24 to appropriate padding values
    // background: radial-gradient(125% 125% at 50% 10%, #000 40%, #9E1B32 100%);
  }